/*Cabeçalho */ 
header{
    background-color: rgba(0, 102, 255, 0.192);
    padding: 20px;
}
.boxCabecalho{
    position: relative;
    margin:0 auto;
    width:940px;
}
.boxCabecalho li:active{
    color:#0050fd
}
/*menu Navegação cabeçalho*/
nav{
    position:absolute;
    top:110px;
    right:0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px; 
}
nav a {
    text-transform:uppercase;
    color:black;
    font-weight:bold;
    font-size:22px;
    text-decoration: none;
}
nav a:hover{
    text-decoration:underline ;
}

nav a:active{
    color:#0050fd;
}
/*Lista de Produtos*/
.itens{
    position: relative;
    margin:0 auto;
    width:940px;
    padding: 50px 0;
}
.itens li{
    display: inline-block;
    text-align: center;
    width:30%;
    vertical-align:top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border:3px solid rgba(0, 102, 255, 0.192);
    border-radius: 50px;
}
.itens li:hover{
    border: 2px dashed #2d2d2e;  
}

.itens li:active{
    border:dashed  #0050fd;
}
h2{
    font-size: 30px;
    font-weight: bold;
}
.itens li:hover h2{
    font-size: 32px;
}
.produtosDescricao{
    font-size: 18px;
}
.valor{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}
.itens li:hover .valor{
    font-size: 22px;
}
/*Rodapé*/
footer{
    background:url("imagens/bg.jpg") ;
    text-align: center;
    color:white;
    padding: 30px 0;
    font-size: 12px;
}