header{
    background-color: rgba(0, 102, 255, 0.192);
    padding: 20px;
}
.boxCabecalho{
    position: relative;
    margin:0 auto;
    width:940px;
}
nav{
    position:absolute;
    top:110px;
    right:0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px; 
}
nav a {
    text-transform:uppercase;
    color:black;
    font-weight:bold;
    font-size:22px;
    text-decoration: none;
}

nav a:hover{
    color: #0050fd;
    text-decoration:underline ;
}

main{
    text-align: center;
}


#banner{
    width:100%
}

.principal{
    background-color:rgba(0, 102, 255, 0.192);
    padding: 20px;
}

h2{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
}

.principal p{
    font-size: 17px;
}

em strong{
    color: #0050fd;
}

.itens{
    font-size: 17px;
    font-style: italic;
    text-align:left;
    display: inline-block; 
    vertical-align: top;
    margin-right: 15%;
    width:20%;


}
h3{
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 20px;
}
.beneficios{
    background-color: #FFFFFF;
    padding:20px;
}

#imgBeneficios{
    width: 50%;
}
footer{
    background:url("imagens/bg.jpg") ;
    text-align: center;
    color:white;
    padding: 30px 0;
    font-size: 12px;
}